root = true

[*.cs]
indent_style = tab
indent_size = 4

csharp_new_line_before_open_brace = all

;dotnet_style_predefined_type_for_locals_parameters_members = true:error

;csharp_style_var_for_built_in_types = true:error
